<%= div_for(restaurant) do %>
  <tr>
	<td class='big'><%= restaurant.votes.size %></td>
	<td><b><%= link_to (restaurant.name), restaurant %></b></td>
    <td><%= restaurant.description %></td>
	<td><%= restaurant.neighborhood %>
    <td><%= link_to "#{restaurant.name} website", restaurant.link %></td>
  </tr>
<% end %>