<%= error_messages_for 'restaurant' %>
<h1>Update this restaurant's info:</h1>

<% form_for(@restaurant) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />restaurant
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', restaurants_path %>