<span id="errors">
	<% if @restaurant.errors.any? %>
	  <ul>
	    <% @restaurant.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	<% end %>
</span>

<h2>
  <span id="vote_score"> 
	<%= @restaurant.votes.size %> votes
  </span>
  <%= @restaurant.name %>
</h2>
<p>
  <h3><%= @restaurant.description %></h3>
  
<% if @restaurant.user.email %>
<p class="submitted_by"> 
  <em> 
	Submitted by: 
  	<span><%= link_to @restaurant.user.email, @restaurant.user %></span>
  </em>
</p>
<% end %>

<% if user_signed_in? %>
	<div id="vote_form"> 
		<% form_tag(restaurant_votes_path(@restaurant), :remote => true) do %>
		<%= submit_tag 'Vote for this restaurant' %> 
		<% end %>
	</div>
<% else %>
	<p>
		<em>
			<%= link_to 'Please log in', new_user_session_path %>
			to vote for this restaurant!
		</em>
	</p>
<% end %>
<ul id="vote_history"> 
  <% if @restaurant.votes.empty? %>
	<em>No votes yet!</em> 
  <% else %>
	<%= render :partial => 'votes/vote', 
			   :collection => @restaurant.votes.latest %>
  <% end %>
</ul>

<h2>Discuss this Restaurant</h2>
	<% if @restaurant.comments %>  
		<% for comment in @restaurant.comments %>
			<em><%= comment.user.email %> said:</em><br />
		<h3><%= comment.body %></h3>
		<hr />
		<% end %>
	<% else %>
		No replies yet! 
	<% end %>

<% if current_user %>
	<%= form_tag :action => "add_comment", :id => @restaurant %>
	   <%= text_area "comment", "body" %><br />
	   <%= submit_tag "Submit" %>
	</form>
<% else %>
	<em>
		<%= link_to 'Log in', new_user_session_path %>
		to reply to this feedback!
	</em>
<% end %>

<br /><br />
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> 
<%= link_to 'Back', restaurants_path %>